{% extends 'base.html.twig' %}

{% block title %}Hello AdventureController!{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center mt-4">The Adventure Club</h1>
    <br>
    <p class="text-center">Wij zijn Emma, Lisa, Alex en Mark.<br>Dit is onze website waar wij verhalen delen over obze technologische avonturen. Veel lees plezier!</p>
    <br>
    <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Beleef met ons de avonturen in Techville</button>
    </div>
    </div>
{% endblock %}
